<!DOCTYPE html>
<html>
<head>
	<title>Языки програмирования и бренды</title>
</head>
<body>
   <div style="position: relative;background-color: #DC143C;width: 100%; height: 100%; top: -30px">
   <h1 style="position: relative;text-align: center; top: 15px ">Всем привет</h1>
    <hr>
 </div>
  <div>
     <section id="html">
      <div style="position: relative;background-color: #B22222;width: 100%; height: 100%; top: -30px">
   <h2 style="position: relative;text-align: center; top: 15px"><big>Это мой первый сайт созданный на языке html</h2>
   	<br>
   </div>
   <div style="position: relative;text-align: center;">
      <ul>
         <button style="position: relative;background-color: #32CD32"><li><a href="#HTML">HTML</a></li></button>
         <button style="position: relative;background-color: #32CD32"><li><a href="#java">java</a></li></button>
         <button style="position: relative;background-color: #32CD32"><li><a href="#samsung">samsung</a></li></button>
         <button style="position: relative;background-color: #32CD32"><li><a href="#minecraft">minecraft</a></li></button>
      </ul>   
   </div>
   <div>
   <h3 style="position: relative;text-align: center;">HTML</h3>
   <P style="position: relative;left: 3%; width: 97%"><big>Язык гипертекстовой разметки HTML был разработан британским учёным Тимом Бернерсом-Ли приблизительно в 1986—1991 годах в стенах ЦЕРНа в Женеве в Швейцарии[3]. HTML создавался как язык для обмена научной и технической документацией, пригодный для использования людьми, не являющимися специалистами в области вёрстки. HTML успешно справлялся с проблемой сложности SGML путём определения небольшого набора структурных и семантических элементов — дескрипторов. Дескрипторы также часто называют «тегами». С помощью HTML можно легко создать относительно простой, но красиво оформленный документ. Помимо упрощения структуры документа, в HTML внесена поддержка гипертекста. Мультимедийные возможности были добавлены позже.</P>
   <br>
   <p style="position: relative;left: 3%; width: 97%">Первым общедоступным описанием HTML был документ «Теги HTML», впервые упомянутый в Интернете Тимом Бернерсом-Ли в конце 1991 года,[4][5]. В нём описываются 18 элементов, составляющих первоначальный, относительно простой дизайн HTML. За исключением тега гиперссылки, на них сильно повлиял SGMLguid, внутренний формат документации, основанный на стандартном обобщенном языке разметки (SGML), в CERN. Одиннадцать из этих элементов всё ещё существуют в HTML 4[6].<big></p>
   <hr>
   <img style="position: relative;left: 45%" src="img/html5.png"> 
   <br>
   <a style="position: relative;left: 5%" href="https://ru.wikipedia.org/wiki/HTML"> Статья на Вики </a>
   >
   </div>
   </section>
   <section id="java">
      <h1 style="position: relative;text-align: center;">Не большая статья про java!!!</h1>
      <p style="position: relative;left: 3%; width: 97%">Java[прим. 1] — строго типизированный объектно-ориентированный язык программирования общего назначения, разработанный компанией Sun Microsystems (в последующем приобретённой компанией Oracle). Разработка ведётся сообществом, организованным через Java Community Process, язык и основные реализующие его технологии распространяются по лицензии GPL. Права на торговую марку принадлежат корпорации Oracle.
      Приложения Java обычно транслируются в специальный байт-код, поэтому они могут работать на любой компьютерной архитектуре, для которой существует реализация виртуальной Java-машины. Дата официального выпуска — 23 мая 1995 года. На 2019 год Java — один из самых популярных языков программирования[3][4].</p>
      <img style="position: relative;left: 37%" src="img/java.png">
      <hr>
   </section>
   <section id="samsung">
      <h1 style="position: relative;text-align: center;">Небольшая статья про samsung!!!</h1>
      <p style="position: relative;left: 3%; width: 97%">Samsung Group («Самсон Груп», кор. 삼성그룹, Samseong Gurub, Samsŏng Gurup) — южнокорейская группа компаний, один из крупнейших чеболей, основанный в 1938 году. На мировом рынке известен как производитель высокотехнологичных компонентов, включая полноцикловое производство интегральных микросхем, телекоммуникационного оборудования, бытовой техники, аудио- и видеоустройств. Главный офис компании расположен в Сувоне.
      Слово «Самсунг» (кор. 삼성?, 三星?, более правильная передача слова по нормам практической транскрипции [самсон]) в корейском языке означает «три звезды». Возможна связь такого названия с тремя сыновьями основателя Samsung Ли Бён Чхоля (이병철), младший из которых Ли Гон Хи (иногда его имя пишется Ли Кун Хи — калька с английского: Lee Kun-hee) (이건희) возглавил компанию в 1987 году в нарушение всех восточных традиций наследования, в согласии с которыми старший сын наследует большую часть семейной собственности[1].</p>
      <img style="position: relative;left: 40%" src="img/samsung.png">
      <hr>
   </section>
   <section id="minecraft">
      <h1 style="position: relative;text-align: center;">Не большая статья про minecraft!!!</h1>
      <p style="position: relative;left: 3%; width: 97%">Minecraft (от англ. mine «шахта; добывать» + craft «ремесло») — компьютерная инди-игра в жанре песочницы, разработанная шведским программистом Маркусом Перссоном и выпущенная его компанией Mojang AB. Перссон опубликовал начальную версию игры в 2009 году; в конце 2011 года была выпущена стабильная версия для ПК Microsoft Windows, распространявшаяся через официальный сайт. В последующие годы Minecraft была портирована на Linux и macOS для персональных компьютеров; на Android, iOS и Windows Phone для мобильных устройств; на игровые приставки PlayStation 4, Vita, VR, Xbox One, Nintendo 3DS, Switch и Wii U. В 2014 году Microsoft приобрела Mojang AB и права на Minecraft за $2,5 миллиарда. 4J Studios (англ.)русск. портировала игру на игровые приставки, а Xbox Game Studios разработала мультиплатформенную версию Minecraft и специальное издание игры для образовательных учреждений</p>
      <img style="position: relative;left: 37%" src="img/minecraft1.png">
   </section>
   <div>
      <p><small>Сайт создан за 0,5 часа</p>
      <p>Что с ним делать я хрен знает</p>
      <p>Создам такой-же сайт вам за 500р</p>
      <p>Email: <a href="#0">slava.rossii@gmail.com</a></p>
      <br><br>
      <a style="position: relative;left: 45%;" href="https://vk.com/emmanuililin"><big>&copy;
         JaiperJonson<big></a>
</body>
</html>